header {
 height: 10vh;
}

.generalContainer{
    height: 90vh;
}

.productsContainer{
    height: 100%;
    overflow: scroll;
}

.cartContainer{
    height: 100%;
    background: rgb(0,224,255);
background: linear-gradient(90deg, rgba(0,224,255,1) 0%, rgba(14,83,255,1) 51%, rgba(5,239,240,1) 97%, rgba(255,0,0,1) 100%);
  overflow: scroll;
}

.productImg{
    max-height: 250px;
    max-width:400px;
}